.left-bar {
    width: 15%;
    height: 100%;
    padding: 8px 4px 8px 8px;
    box-sizing: border-box;
}

.right-bar {
    width: 85%;
    padding: 8px 8px 8px 4px;
    box-sizing: border-box;
}

.managing-page-title-container {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5%;
}

.managing-page-title {
    font-weight: bold;
    font-size: 25px;
    padding-left: 10px;
    color: #707070;
    text-decoration: underline;
}

.managing-page-content-container {
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 95.5%;
}