.stock-page-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.stock-table-header th {
    font-size: 15px !important;
}

#stock-table tbody tr {
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

#stock-table tbody tr:hover {
    background-color: #e8ffe8;
}

.product-detail-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, z-index 0.3s ease 0s;
}

.product-detail-dialog {
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    height: 70%;
    margin-top: 15vh;
    margin-left: 25vw;
    box-sizing: border-box;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.show {
    transform: scale(1);
    opacity: 1;
}

.hide {
    transform: scale(0.9);
    opacity: 0;
    z-index: -9999;
}

.product-detail-dialog-title {
    font-weight: bold;
    font-size: 20px;
    height: 5%;
}

.product-detail-dialog-content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 85%;
}

.product-detail-dialog-buttons {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    padding: 10px;
}

.product-image-container {
    height: 100%;
    box-sizing: border-box;
    width: 45%;
}

.product-fields-container {
    height: 100%;
    padding-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 55%;
}

.product-image {
    height: auto;
    width: 100%;
}